---
import { buttonVariants } from "~/components/ui/button";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Offline" hideNav>
	<div class="flex items-center justify-center h-[95vh]">
		<div class="text-center -mt-12">
			<h1 class="text-5xl font-bold mb-4">No internet</h1>
			<p class="text-xl mb-4">Please connect to the internet and try again</p>
			<a href="/" class={buttonVariants({ variant: "default" })}>
				Return Home
			</a>
		</div>
	</div>
</Layout>
