---
import { getButtonClass } from "./Button/getButtonClass";
import { ArrowRightIcon } from "./Icons";

interface Props {
	class?: string;
}

const { class: userClass } = Astro.props;
---

<section
	class=`py-16 bg-gradient-to-r from-purple-900 to-indigo-900 text-white ${userClass}`
>
	<div class="container mx-auto px-4 text-center">
		<h2 class="text-3xl md:text-4xl font-bold mb-4">
			Ready for an Unforgettable Adventure?
		</h2>
		<p class="text-lg text-purple-200 max-w-2xl mx-auto mb-8">
			Book your escape room experience today and put your puzzle-solving skills
			to the test!
		</p>
		<a
			href="https://bookeo.com/escaperealityfl"
			target="_blank"
			rel="noopener noreferrer"
			class={getButtonClass({
				size: "lg",
			})}
		>
			Book Now
			<ArrowRightIcon class="ml-2 h-4 w-4" />
		</a>
	</div>
</section>
